@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icon-fonts/icomoon.eot?jdxok6');
  src:  url('../fonts/icon-fonts/icomoon.eot?jdxok6#iefix') format('embedded-opentype'),
    url('../fonts/icon-fonts/icomoon.ttf?jdxok6') format('truetype'),
    url('../fonts/icon-fonts/icomoon.woff?jdxok6') format('woff'),
    url('../fonts/icon-fonts/icomoon.svg?jdxok6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.rdb-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.custom-rdb-custom-info:before {
  content: "\ea2e";
}
.custom-facebook:before {
  content: "\e900";
  color: #1877f2;
}
.custom-x:before {
  content: "\e901";
}
.custom-twitter:before {
  content: "\e901";
}
.custom-youtube:before {
  content: "\e902";
  color: #f00;
}
.custom-rdb_instagram_logo .path1:before {
  content: "\e903";
  color: rgb(0, 0, 0);
}
.custom-rdb_instagram_logo .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.custom-rdb_instagram_logo .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-rdb-x:before {
  content: "\e906";
}
.custom-rdb-video-play:before {
  content: "\e907";
}
.custom-rdb-translate:before {
  content: "\e908";
}
.custom-rdb-tech-star:before {
  content: "\e909";
}
.custom-rdb-tech-idea:before {
  content: "\e90a";
}
.custom-rdb-star:before {
  content: "\e90b";
}
.custom-rdb-shake:before {
  content: "\e90c";
}
.custom-rdb-search:before {
  content: "\e90d";
}
.custom-rdb-right-chevron:before {
  content: "\e90e";
}
.custom-rdb-r:before {
  content: "\e90f";
}
.custom-rdb-plane-slim:before {
  content: "\e910";
}
.custom-rdb-plane:before {
  content: "\e911";
}
.custom-rdb-phone:before {
  content: "\e912";
}
.custom-rdb-oblique-arrow-right:before {
  content: "\e913";
}
.custom-rdb-minus:before {
  content: "\e914";
}
.custom-rdb-instagram:before {
  content: "\e915";
}
.custom-rdb-facebook-icon:before {
  content: "\e916";
}
.custom-rdb-chevron-down:before {
  content: "\e917";
}
.custom-rdb-arrow-right:before {
  content: "\e918";
}
.custom-align-center:before {
  content: "\e919";
}
.custom-align-justify:before {
  content: "\e91a";
}
.custom-align-left:before {
  content: "\e91b";
}
.custom-align-right:before {
  content: "\e91c";
}
.custom-anchor:before {
  content: "\e91d";
}
.custom-aperture:before {
  content: "\e91e";
}
.custom-archive:before {
  content: "\e91f";
}
.custom-arrow-down:before {
  content: "\e920";
}
.custom-arrow-down-circle:before {
  content: "\e921";
}
.custom-arrow-down-left:before {
  content: "\e922";
}
.custom-arrow-down-right:before {
  content: "\e923";
}
.custom-arrow-left:before {
  content: "\e924";
}
.custom-arrow-left-circle:before {
  content: "\e925";
}
.custom-arrow-right:before {
  content: "\e926";
}
.custom-arrow-right-circle:before {
  content: "\e927";
}
.custom-arrow-up:before {
  content: "\e928";
}
.custom-arrow-up-circle:before {
  content: "\e929";
}
.custom-arrow-up-left:before {
  content: "\e92a";
}
.custom-arrow-up-right:before {
  content: "\e92b";
}
.custom-at-sign:before {
  content: "\e92c";
}
.custom-award:before {
  content: "\e92d";
}
.custom-bar-chart:before {
  content: "\e92e";
}
.custom-bar-chart-2:before {
  content: "\e92f";
}
.custom-battery:before {
  content: "\e930";
}
.custom-battery-charging:before {
  content: "\e931";
}
.custom-bell:before {
  content: "\e932";
}
.custom-bell-off:before {
  content: "\e933";
}
.custom-bluetooth:before {
  content: "\e934";
}
.custom-bold:before {
  content: "\e935";
}
.custom-book:before {
  content: "\e936";
}
.custom-book-open:before {
  content: "\e937";
}
.custom-bookmark:before {
  content: "\e938";
}
.custom-box:before {
  content: "\e939";
}
.custom-briefcase:before {
  content: "\e93a";
}
.custom-calendar:before {
  content: "\e93b";
}
.custom-camera:before {
  content: "\e93c";
}
.custom-camera-off:before {
  content: "\e93d";
}
.custom-cast:before {
  content: "\e93e";
}
.custom-check:before {
  content: "\e93f";
}
.custom-check-circle:before {
  content: "\e940";
}
.custom-check-square:before {
  content: "\e941";
}
.custom-chevron-down:before {
  content: "\e942";
}
.custom-chevron-left:before {
  content: "\e943";
}
.custom-chevron-right:before {
  content: "\e944";
}
.custom-chevron-up:before {
  content: "\e945";
}
.custom-chevrons-down:before {
  content: "\e946";
}
.custom-chevrons-left:before {
  content: "\e947";
}
.custom-chevrons-right:before {
  content: "\e948";
}
.custom-chevrons-up:before {
  content: "\e949";
}
.custom-chrome:before {
  content: "\e94a";
}
.custom-circle:before {
  content: "\e94b";
}
.custom-clipboard:before {
  content: "\e94c";
}
.custom-clock:before {
  content: "\e94d";
}
.custom-cloud:before {
  content: "\e94e";
}
.custom-cloud-drizzle:before {
  content: "\e94f";
}
.custom-cloud-lightning:before {
  content: "\e950";
}
.custom-cloud-off:before {
  content: "\e951";
}
.custom-cloud-rain:before {
  content: "\e952";
}
.custom-cloud-snow:before {
  content: "\e953";
}
.custom-code:before {
  content: "\e954";
}
.custom-codepen:before {
  content: "\e955";
}
.custom-codesandbox:before {
  content: "\e956";
}
.custom-coffee:before {
  content: "\e957";
}
.custom-columns:before {
  content: "\e958";
}
.custom-command:before {
  content: "\e959";
}
.custom-compass:before {
  content: "\e95a";
}
.custom-copy:before {
  content: "\e95b";
}
.custom-corner-down-left:before {
  content: "\e95c";
}
.custom-corner-down-right:before {
  content: "\e95d";
}
.custom-corner-left-down:before {
  content: "\e95e";
}
.custom-corner-left-up:before {
  content: "\e95f";
}
.custom-corner-right-down:before {
  content: "\e960";
}
.custom-corner-right-up:before {
  content: "\e961";
}
.custom-corner-up-left:before {
  content: "\e962";
}
.custom-corner-up-right:before {
  content: "\e963";
}
.custom-cpu:before {
  content: "\e964";
}
.custom-credit-card:before {
  content: "\e965";
}
.custom-crop:before {
  content: "\e966";
}
.custom-crosshair:before {
  content: "\e967";
}
.custom-database:before {
  content: "\e968";
}
.custom-delete:before {
  content: "\e969";
}
.custom-disc:before {
  content: "\e96a";
}
.custom-dollar-sign:before {
  content: "\e96b";
}
.custom-download:before {
  content: "\e96c";
}
.custom-download-cloud:before {
  content: "\e96d";
}
.custom-droplet:before {
  content: "\e96e";
}
.custom-edit:before {
  content: "\e96f";
}
.custom-edit-2:before {
  content: "\e970";
}
.custom-edit-3:before {
  content: "\e971";
}
.custom-external-link:before {
  content: "\e972";
}
.custom-eye:before {
  content: "\e973";
}
.custom-eye-off:before {
  content: "\e974";
}
.custom-facebook1:before {
  content: "\e975";
}
.custom-fast-forward:before {
  content: "\e976";
}
.custom-feather:before {
  content: "\e977";
}
.custom-figma:before {
  content: "\e978";
}
.custom-file:before {
  content: "\e979";
}
.custom-file-minus:before {
  content: "\e97a";
}
.custom-file-plus:before {
  content: "\e97b";
}
.custom-file-text:before {
  content: "\e97c";
}
.custom-film:before {
  content: "\e97d";
}
.custom-filter:before {
  content: "\e97e";
}
.custom-flag:before {
  content: "\e97f";
}
.custom-folder:before {
  content: "\e980";
}
.custom-folder-minus:before {
  content: "\e981";
}
.custom-folder-plus:before {
  content: "\e982";
}
.custom-framer:before {
  content: "\e983";
}
.custom-frown:before {
  content: "\e984";
}
.custom-gift:before {
  content: "\e985";
}
.custom-git-branch:before {
  content: "\e986";
}
.custom-git-commit:before {
  content: "\e987";
}
.custom-git-merge:before {
  content: "\e988";
}
.custom-git-pull-request:before {
  content: "\e989";
}
.custom-github:before {
  content: "\e98a";
}
.custom-gitlab:before {
  content: "\e98b";
}
.custom-globe:before {
  content: "\e98c";
}
.custom-grid:before {
  content: "\e98d";
}
.custom-hard-drive:before {
  content: "\e98e";
}
.custom-hash:before {
  content: "\e98f";
}
.custom-headphones:before {
  content: "\e990";
}
.custom-heart:before {
  content: "\e991";
}
.custom-help-circle:before {
  content: "\e992";
}
.custom-hexagon:before {
  content: "\e993";
}
.custom-home:before {
  content: "\e994";
}
.custom-image:before {
  content: "\e995";
}
.custom-inbox:before {
  content: "\e996";
}
.custom-info:before {
  content: "\e997";
}
.custom-instagram:before {
  content: "\e998";
}
.custom-italic:before {
  content: "\e999";
}
.custom-key:before {
  content: "\e99a";
}
.custom-layers:before {
  content: "\e99b";
}
.custom-layout:before {
  content: "\e99c";
}
.custom-life-buoy:before {
  content: "\e99d";
}
.custom-link:before {
  content: "\e99e";
}
.custom-link-2:before {
  content: "\e99f";
}
.custom-linkedin:before {
  content: "\e9a0";
}
.custom-list:before {
  content: "\e9a1";
}
.custom-loader:before {
  content: "\e9a2";
}
.custom-lock:before {
  content: "\e9a3";
}
.custom-log-in:before {
  content: "\e9a4";
}
.custom-log-out:before {
  content: "\e9a5";
}
.custom-mail:before {
  content: "\e9a6";
}
.custom-map:before {
  content: "\e9a7";
}
.custom-map-pin:before {
  content: "\e9a8";
}
.custom-maximize:before {
  content: "\e9a9";
}
.custom-maximize-2:before {
  content: "\e9aa";
}
.custom-meh:before {
  content: "\e9ab";
}
.custom-menu:before {
  content: "\e9ac";
}
.custom-message-circle:before {
  content: "\e9ad";
}
.custom-message-square:before {
  content: "\e9ae";
}
.custom-mic:before {
  content: "\e9af";
}
.custom-mic-off:before {
  content: "\e9b0";
}
.custom-minimize:before {
  content: "\e9b1";
}
.custom-minimize-2:before {
  content: "\e9b2";
}
.custom-minus:before {
  content: "\e9b3";
}
.custom-minus-circle:before {
  content: "\e9b4";
}
.custom-minus-square:before {
  content: "\e9b5";
}
.custom-monitor:before {
  content: "\e9b6";
}
.custom-moon:before {
  content: "\e9b7";
}
.custom-more-horizontal:before {
  content: "\e9b8";
}
.custom-more-vertical:before {
  content: "\e9b9";
}
.custom-mouse-pointer:before {
  content: "\e9ba";
}
.custom-move:before {
  content: "\e9bb";
}
.custom-music:before {
  content: "\e9bc";
}
.custom-navigation:before {
  content: "\e9bd";
}
.custom-navigation-2:before {
  content: "\e9be";
}
.custom-octagon:before {
  content: "\e9bf";
}
.custom-package:before {
  content: "\e9c0";
}
.custom-paperclip:before {
  content: "\e9c1";
}
.custom-pause:before {
  content: "\e9c2";
}
.custom-pause-circle:before {
  content: "\e9c3";
}
.custom-pen-tool:before {
  content: "\e9c4";
}
.custom-percent:before {
  content: "\e9c5";
}
.custom-phone:before {
  content: "\e9c6";
}
.custom-phone-call:before {
  content: "\e9c7";
}
.custom-phone-forwarded:before {
  content: "\e9c8";
}
.custom-phone-incoming:before {
  content: "\e9c9";
}
.custom-phone-missed:before {
  content: "\e9ca";
}
.custom-phone-off:before {
  content: "\e9cb";
}
.custom-phone-outgoing:before {
  content: "\e9cc";
}
.custom-pie-chart:before {
  content: "\e9cd";
}
.custom-play:before {
  content: "\e9ce";
}
.custom-play-circle:before {
  content: "\e9cf";
}
.custom-plus:before {
  content: "\e9d0";
}
.custom-plus-circle:before {
  content: "\e9d1";
}
.custom-plus-square:before {
  content: "\e9d2";
}
.custom-pocket:before {
  content: "\e9d3";
}
.custom-power:before {
  content: "\e9d4";
}
.custom-printer:before {
  content: "\e9d5";
}
.custom-radio:before {
  content: "\e9d6";
}
.custom-refresh-ccw:before {
  content: "\e9d7";
}
.custom-refresh-cw:before {
  content: "\e9d8";
}
.custom-repeat:before {
  content: "\e9d9";
}
.custom-rewind:before {
  content: "\e9da";
}
.custom-rotate-ccw:before {
  content: "\e9db";
}
.custom-rotate-cw:before {
  content: "\e9dc";
}
.custom-rss:before {
  content: "\e9dd";
}
.custom-save:before {
  content: "\e9de";
}
.custom-scissors:before {
  content: "\e9df";
}
.custom-search:before {
  content: "\e9e0";
}
.custom-send:before {
  content: "\e9e1";
}
.custom-server:before {
  content: "\e9e2";
}
.custom-settings:before {
  content: "\e9e3";
}
.custom-share:before {
  content: "\e9e4";
}
.custom-share-2:before {
  content: "\e9e5";
}
.custom-shield:before {
  content: "\e9e6";
}
.custom-shield-off:before {
  content: "\e9e7";
}
.custom-shopping-bag:before {
  content: "\e9e8";
}
.custom-shopping-cart:before {
  content: "\e9e9";
}
.custom-shuffle:before {
  content: "\e9ea";
}
.custom-sidebar:before {
  content: "\e9eb";
}
.custom-skip-back:before {
  content: "\e9ec";
}
.custom-skip-forward:before {
  content: "\e9ed";
}
.custom-slack:before {
  content: "\e9ee";
}
.custom-slash:before {
  content: "\e9ef";
}
.custom-sliders:before {
  content: "\e9f0";
}
.custom-smartphone:before {
  content: "\e9f1";
}
.custom-smile:before {
  content: "\e9f2";
}
.custom-speaker:before {
  content: "\e9f3";
}
.custom-square:before {
  content: "\e9f4";
}
.custom-star:before {
  content: "\e9f5";
}
.custom-stop-circle:before {
  content: "\e9f6";
}
.custom-sun:before {
  content: "\e9f7";
}
.custom-sunrise:before {
  content: "\e9f8";
}
.custom-sunset:before {
  content: "\e9f9";
}
.custom-tablet:before {
  content: "\e9fa";
}
.custom-tag:before {
  content: "\e9fb";
}
.custom-target:before {
  content: "\e9fc";
}
.custom-terminal:before {
  content: "\e9fd";
}
.custom-thermometer:before {
  content: "\e9fe";
}
.custom-thumbs-down:before {
  content: "\e9ff";
}
.custom-thumbs-up:before {
  content: "\ea00";
}
.custom-toggle-left:before {
  content: "\ea01";
}
.custom-toggle-right:before {
  content: "\ea02";
}
.custom-tool:before {
  content: "\ea03";
}
.custom-trash:before {
  content: "\ea04";
}
.custom-trash-2:before {
  content: "\ea05";
}
.custom-trello:before {
  content: "\ea06";
}
.custom-trending-down:before {
  content: "\ea07";
}
.custom-trending-up:before {
  content: "\ea08";
}
.custom-triangle:before {
  content: "\ea09";
}
.custom-truck:before {
  content: "\ea0a";
}
.custom-tv:before {
  content: "\ea0b";
}
.custom-twitch:before {
  content: "\ea0c";
}
.custom-twitter1:before {
  content: "\ea0d";
}
.custom-type:before {
  content: "\ea0e";
}
.custom-umbrella:before {
  content: "\ea0f";
}
.custom-underline:before {
  content: "\ea10";
}
.custom-unlock:before {
  content: "\ea11";
}
.custom-upload:before {
  content: "\ea12";
}
.custom-upload-cloud:before {
  content: "\ea13";
}
.custom-user:before {
  content: "\ea14";
}
.custom-user-check:before {
  content: "\ea15";
}
.custom-user-minus:before {
  content: "\ea16";
}
.custom-user-plus:before {
  content: "\ea17";
}
.custom-user-x:before {
  content: "\ea18";
}
.custom-users:before {
  content: "\ea19";
}
.custom-video:before {
  content: "\ea1a";
}
.custom-video-off:before {
  content: "\ea1b";
}
.custom-voicemail:before {
  content: "\ea1c";
}
.custom-volume:before {
  content: "\ea1d";
}
.custom-volume-1:before {
  content: "\ea1e";
}
.custom-volume-2:before {
  content: "\ea1f";
}
.custom-volume-x:before {
  content: "\ea20";
}
.custom-watch:before {
  content: "\ea21";
}
.custom-wifi:before {
  content: "\ea22";
}
.custom-wifi-off:before {
  content: "\ea23";
}
.custom-wind:before {
  content: "\ea24";
}
.custom-x1:before {
  content: "\ea25";
}
.custom-x-circle:before {
  content: "\ea26";
}
.custom-x-octagon:before {
  content: "\ea27";
}
.custom-x-square:before {
  content: "\ea28";
}
.custom-youtube1:before {
  content: "\ea29";
}
.custom-zap:before {
  content: "\ea2a";
}
.custom-zap-off:before {
  content: "\ea2b";
}
.custom-zoom-in:before {
  content: "\ea2c";
}
.custom-zoom-out:before {
  content: "\ea2d";
}
